header {
    background-color: var(--color-primary);
    height: 60px;
    align-items: center;
    display: flex;
}

.alexandria-nav-content {
    justify-content: space-between;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
}

.alexandria-nav-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.alexandria-menu-content {
    display: flex;
    align-items: center;
    margin: 0;
}
.alexandria-menu-element{
    font-size: 18px;
    margin: 0 0 0 15px;
}
.alexandria-menu-element p{
    margin: 0;
}

.alexandria-link p{
    margin: 0 0 0 0;
}