.alexandria-pesquisa-container{
    display: flex;
    width: 100%;
}

.alexandria-pesquisa-content{
    width: 80%;
}

.alexandria-pesquisa-content h1{
    font-size: 24px;
    margin: 20px 0 0 30px;
}